body,
div,
dl,
dt,
dd,
ul,
ol,
li,
span,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
th,
td,
p,
span,
i,
b,
sub,
em {
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 13px;
  font-weight: normal;
}
ul,
li {
  list-style: none;
  vertical-align: top;
}
a {
  text-decoration: none;
  color: #000;
  outline: none;
  /*移除超链的虚线框  IE8,FF有用*/
  cursor: pointer;
}
a:hover {
  color: #560014;
  text-decoration: none;
}
:focus {
  outline: none;
}
a img {
  border: none;
}
body {
  color: #333;
  font-size: 12px;
  line-height: 24px;
}
.ow {
  min-width: 1190px;
  width: 100%;
}
.w {
  width: 1190px;
  margin: 0 auto;
}
.f12 {
  font-size: 12px;
}
.f14 {
  font-size: 14px;
}
.f16 {
  font-size: 16px;
}
.f20 {
  font-size: 20px;
}
.c666 {
  color: #666;
}
.c333 {
  color: #333;
}
.c999 {
  color: #999;
}
.cf60 {
  color: #ff7700;
}
.fred {
  color: #cc0000;
}
.fblue {
  color: #0478cb;
}
.clr {
  clear: both;
  height: 0;
  overflow: hidden;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearfix {
  *zoom: 1;
}
.line_b {
  border-bottom: 1px dashed #eaeaea;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.divline {
  height: 10px;
  overflow: hidden;
  clear: both;
}
.v30 {
  height: 30px;
}
.v15 {
  height: 15px;
}
.v45 {
  height: 45px;
}
.v55 {
  height: 55px;
}
.disn {
  display: none;
}
/*less var*/
.fwr {
  font-family: "微软雅黑";
}
.noworp {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.ease1 {
  -webkit-transition: all 0.6s ease-in-out;
  -moz-transition: all 0.6s ease-in-out;
  -o-transition: all 0.6s ease-in-out;
  transition: all 0.6s ease-in-out;
}
.ease2 {
  -webkit-transition: all .6s ease;
  -moz-transition: all .6s ease;
  -o-transition: all .6s ease;
  transition: all .6s ease;
}
.swiper-pagination-bullet-active {
  background: #b21c1c !important;
}
body {
  font-family: "微软雅黑";
}
.pagination,
.swiper-pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: 5px;
  width: 100%;
}
.swiper-pagination-switch {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #ccc;
  box-shadow: 0px 1px 2px #555 inset;
  margin: 0 3px;
  cursor: pointer;
}
.swiper-active-switch {
  background: #b21c1c;
}
.title {
  height: 66px;
  width: 362px;
  background: url(../images/titlebg.png) no-repeat;
  color: #560014;
  font-size: 30px;
  text-align: center;
  line-height: 66px;
  font-weight: bold;
  margin: 0 auto;
}
.header {
  background: #7b0000 ;
  height: 500px;
  position: relative;
  margin-bottom: 90px;
  background: #7b0000 url(../images/headerbg.jpg) no-repeat center top;
}
.header .w {
  position: relative;
  height: 100%;
}
.header .img {
  width: 100%;
  height: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../images/headerimg.png) no-repeat;
}
.header .lg {
  background: url(../images/logo.png) no-repeat;
  position: absolute;
  width: 153px;
  height: 106px;
  left: 60px;
  top: 40px;
}
.header .menu {
  background: url(../images/headerbot.jpg) no-repeat center bottom;
  padding-bottom: 15px;
  position: absolute;
  bottom: -90px;
  width: 100%;
  left: 0;
}
.header .menu ul {
  width: 1090px;
  margin: 0 auto;
  display: block;
  font-size: 30px;
  height: 30px;
  padding: 30px 0 15px;
}
.header .menu ul li {
  float: left;
  height: 30px;
  line-height: 30px;
  padding: 0  60px;
  font-weight: bold;
  border-left: 1px solid #b50000;
}
.header .menu ul li.start {
  border-left: 0 none;
}
.main {
  height: 615px;
}
.main.layout1 {
  padding-top: 80px;
}
.main.layout1 .w {
  position: relative;
}
.main.layout1 .swiper-slide {
  float: left;
}
.main.layout1 .cont {
  height: 530px;
  position: relative;
  margin-top: 10px;
  overflow: hidden;
}
.main.layout1 .cont .li {
  position: absolute;
  top: 0;
}
.main.layout1 .cont .li .tit {
  font-size: 18px;
  font-weight: bold;
}
.main.layout1 .cont .li .tit span {
  display: block;
  font-size: 24px;
}
.main.layout1 .cont .li .at {
  position: absolute;
}
.main.layout1 .cont .li .inc {
  padding: 50px 0 30px;
  font-size: 14px;
}
.main.layout1 .cont .li.al {
  left: 0;
  padding-top: 55px;
  padding-right: 230px;
  width: 350px;
  z-index: 2;
}
.main.layout1 .cont .li.al .at {
  top: 125px;
  right: 0;
}
.main.layout1 .cont .li.ar {
  z-index: 1;
  right: 0;
  padding-top: 55px;
  padding-left: 280px;
  width: 360px;
}
.main.layout1 .cont .li.ar .at {
  top: 0;
  left: 0;
}
.main.layout1 .openModel1 {
  background: #c3c3c4;
}
.main.layout1 .openModel1 .content {
  padding: 0;
  width: 100%;
  height: 100%;
}
.main.layout1 .openModel1 .atimg {
  height: 475px;
  background: #e6e6e6;
  width: 350px;
  float: left;
  position: relative;
  margin-right: 80px;
}
.main.layout1 .openModel1 .atimg .at {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.main.layout1 .openModel1 .tit {
  padding: 100px 0 60px ;
  font-size: 24px;
  text-align: left;
  font-weight: bold;
}
.main.layout1 .openModel1 .inc {
  padding-right: 80px;
  text-align: left;
}
.main.layout1 .openModel1 img {
  margin-right: 80px;
}
.main.layout2 {
  height: auto;
}
.main.layout2 .inc {
  padding: 30px 0;
  text-align: center;
  font-size: 14px;
  width: 920px;
  margin: 0 auto;
}
.main.layout2 .img_ {
  height: 360px;
  position: relative;
}
.main.layout2 .openModel2 {
  position: fixed;
  width: 100%;
  height: 100%;
  background: url(../images/img/layout2.jpg) no-repeat;
  background-size: cover;
  top: 0;
  z-index: 999;
}
.main.layout2 .openModel2 .close {
  top: 50%;
  left: 50%;
  bottom: auto;
  margin-top: -433px;
  margin-left: 575px;
}
.main.layout2 .openModel2 .content {
  background: none;
}
.main.layout2 .openModel2 .pc-slide {
  position: absolute;
  width: 90%;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  padding: 10px;
  transform: translateY(-50%);
  background: #fff;
  max-width: 1200px;
  overflow: hidden;
}
.main.layout2 .openModel2 .view {
  position: relative;
}
.main.layout2 .openModel2 .view .swiper-container .swiper-slide {
  height: 675px;
  position: relative;
}
.main.layout2 .openModel2 .view .swiper-container .swiper-slide .pc {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: left;
  color: #fff;
  padding: 5px 0;
  text-indent: 10px;
}
.main.layout2 .openModel2 .view .swiper-container .swiper-slide .img {
  border: 0;
  width: 100%;
  height: 675px;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
}
.main.layout2 .openModel2 .view .arrow-left {
  background: #fff url(../images/index_tab_l.png) no-repeat center;
  position: absolute;
  left: 0;
  top: 50%;
  margin-top: -25px;
  width: 28px;
  height: 51px;
  z-index: 10;
  padding: 10px;
}
.main.layout2 .openModel2 .view .arrow-right {
  background: #fff url(../images/index_tab_r.png) no-repeat center;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -25px;
  width: 28px;
  height: 51px;
  z-index: 10;
  padding: 10px;
}
.main.layout2 .openModel2 .preview {
  width: 100%;
  margin-top: 10px;
  position: relative;
}
.main.layout2 .openModel2 .preview .swiper-container {
  width: 100%;
  height: 82px;
  margin-left: 35px;
}
.main.layout2 .openModel2 .preview .swiper-slide {
  width: 87px;
  height: 82px;
  cursor: pointer;
}
.main.layout2 .openModel2 .preview .slide6 {
  width: 82px;
}
.main.layout2 .openModel2 .preview .arrow-left {
  background: url(../images/feel3.png) no-repeat left top;
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -9px;
  width: 9px;
  height: 18px;
  z-index: 10;
}
.main.layout2 .openModel2 .preview .arrow-right {
  background: url(../images/feel4.png) no-repeat left bottom;
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -9px;
  width: 9px;
  height: 18px;
  z-index: 10;
}
.main.layout2 .openModel2 .preview img {
  padding: 1px;
  height: 80px;
  width: 80px;
}
.main.layout2 .openModel2 .preview .active-nav img {
  padding: 0;
  border: 1px solid #64010b;
}
.main.layout3 {
  height: auto;
}
.main.layout3 .w {
  position: relative;
}
.main.layout3 .cont {
  padding: 40px 0;
}
.main.layout3 .photos {
  height: 392px;
  overflow: hidden;
  position: relative;
}
.main.layout3 .photos .jsimg {
  float: right;
  width: 743px;
  position: relative;
  height: 392px;
  overflow: hidden;
  background: #802e2e;
}
.main.layout3 .photos .jsimg ul {
  padding: 0;
  margin: 0;
}
.main.layout3 .photos .jsimg ul li {
  float: left;
  position: relative;
  height: 392px;
  overflow: hidden;
}
.main.layout3 .photos .jsimg .dots {
  right: 40px;
  z-index: 9;
  top: 50%;
  height: 190px;
  margin-top: -95px;
  display: none;
}
.main.layout3 .photos .jsimg .bk {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
  background: url('../images/photo.png') repeat-x bottom left;
  display: block;
  width: 100%;
  height: 100%;
}
.main.layout3 .photos .jsimg .bk:after {
  content: '';
  width: 96%;
  height: 96%;
  position: absolute;
  left: 2%;
  top: 2%;
  border: 1px solid #fff;
}
.main.layout3 .photos .jsimg img {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
}
.main.layout3 .photos .jsimg h6 {
  font-size: 16px;
  color: #fff;
  z-index: 3;
  width: 90%;
  position: absolute;
  left: 5%;
  bottom: 2%;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
}
.main.layout3 .photos .jsimg_r {
  overflow: hidden;
  position: absolute;
  left: 0px;
}
.main.layout3 .photos .jsimg_r a {
  display: inline-block;
  margin: 0 4px 5px 0;
  overflow: hidden;
  width: 138px;
  height: 88px;
  float: left;
  border: 3px solid #eee;
}
.main.layout3 .photos .jsimg_r a.active {
  border-color: #b21c1c;
}
.main.layout3 .photos .jsimg_r img {
  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -ms-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
  width: 100%;
  height: 100%;
}
.main.layout3 .openModel3 {
  position: relative;
  top: -20px;
}
.main.layout3 .openModel3 .close {
  top: 0;
  bottom: auto;
}
.main.layout3 .openModel3 img {
  margin-bottom: 20px;
}
.main.layout3 .openModel3 .content {
  text-align: center;
}
.main.layout4 .modelContent {
  display: none;
}
.main.layout4 .w {
  position: relative;
}
.main.layout4 .cont {
  margin: 40px 0 120px;
  height: 350px;
  position: relative;
}
.main.layout4 .cont .aa {
  position: absolute;
  background: url(../images/layout4_0.jpg) no-repeat;
  font-size: 30px;
  color: #fff;
  text-align: center;
  line-height: 40px;
  font-weight: bold;
}
.main.layout4 .cont .a1 {
  left: 0;
  top: 0;
  height: 210px;
  width: 510px;
  padding-top: 140px;
}
.main.layout4 .cont .a2 {
  width: 670px;
  right: 0;
  top: 0;
  height: 168px;
  line-height: 168px;
  background-image: url(../images/layout4_1.jpg);
}
.main.layout4 .cont .a3,
.main.layout4 .cont .a4 {
  width: 330px;
  right: 340px;
  bottom: 0;
  height: 170px;
  line-height: 170px;
  background-image: url(../images/layout4_2.jpg);
}
.main.layout4 .cont .a4 {
  right: 0;
  background-image: url(../images/layout4_3.jpg);
}
.main.layout4 .openModel4 img {
  margin-right: 20px;
  float: left;
}
.main.layout4 .openModel4 .content {
  text-align: left;
}
.main.layout5 {
  height: auto;
}
.main.layout5 .w {
  width: 1200px;
  position: relative;
}
.main.layout5 .modelContent {
  display: none;
}
.main.layout5 .cont {
  margin-top: 20px;
  height: 500px;
  overflow: hidden;
}
.main.layout5 .cont ul {
  position: relative;
  display: block;
  width: 100%;
  height: 500px;
  margin-left: 35px;
}
.main.layout5 .cont li {
  width: 170px;
  height: 170px;
  background: #c3c3c4;
  position: absolute;
  transform: rotate(45deg);
}
.main.layout5 .cont li a {
  display: block;
  width: 100%;
  height: 100%;
  transform: rotate(-45deg);
  background-repeat: no-repeat;
  background-position: center;
}
.main.layout5 .cont li .bs {
  color: #fff;
  opacity: 0;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  display: block;
  font-size: 20px;
  text-align: center;
  font-family: simsun;
  line-height: 14px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
.main.layout5 .cont li .bs:after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: url(../images/png.png);
  z-index: 1;
  transform: rotate(45deg);
}
.main.layout5 .cont li .desc {
  font-size: 12px;
  display: block;
  width: 100%;
  padding-top: 10px;
  position: relative;
  z-index: 3;
}
.main.layout5 .cont li .t {
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  width: auto;
  margin: 10px auto 0;
  border-bottom: 1px solid #d89898;
  display: inline-block;
  z-index: 3;
  position: relative;
}
.main.layout5 .cont li:hover .bs {
  opacity: 1;
  display: block;
}
.main.layout5 .cont .a1 {
  left: 120px;
  top: 70px;
}
.main.layout5 .cont .a2 {
  left: 360px;
  top: 70px;
}
.main.layout5 .cont .a3 {
  left: 600px;
  top: 70px;
}
.main.layout5 .cont .a4 {
  left: 840px;
  top: 70px;
}
.main.layout5 .cont .a5 {
  left: 0px;
  top: 193px;
}
.main.layout5 .cont .a6 {
  left: 240px;
  top: 193px;
}
.main.layout5 .cont .a7 {
  left: 480px;
  top: 193px;
}
.main.layout5 .cont .a8 {
  left: 720px;
  top: 193px;
}
.main.layout5 .cont .a9 {
  left: 960px;
  top: 193px;
}
.main.layout5 .openModel5 {
  position: relative;
  top: -50px;
}
.main.layout5 .openModel5 .close {
  top: 0;
  bottom: auto;
}
.main.layout5 .openModel5 img {
  margin-bottom: 20px;
}
.main.layout5 .openModel5 .content {
  text-align: center;
}
.main.layout6 {
  height: 675px;
}
.main.layout6 .cont {
  width: 1020px;
  height: 568px;
  margin: 30px auto;
  background: url(../images/layout6.jpg) no-repeat;
  position: relative;
}
.main.layout6 .hotPie {
  height: 240px;
  width: 240px;
  padding: 50px;
  background: url(../images/png.png);
  border-radius: 50%;
  z-index: 3;
  position: absolute;
  display: none;
  text-align: center;
  color: #fff;
  left: -100px;
  top: -50px;
}
.main.layout6 .hotPie a {
  color: #fff;
}
.main.layout6 .hotPie .img {
  margin-bottom: 20px;
  margin: 0 auto 20px;
  display: block;
}
.main.layout6 .pos {
  position: absolute;
  width: 137px;
  height: 121px;
  background: url(../images/layout6_i0.png) no-repeat;
  left: 120px;
  top: 10px;
  cursor: pointer;
  z-index: 1;
}
.main.layout6 .pos.a2 {
  background-image: url(../images/layout6_i1.png);
  left: 357px;
  top: 10px;
}
.main.layout6 .pos.a3 {
  left: auto;
  right: 254px;
  top: 106px;
  background-image: url(../images/layout6_i2.png);
}
.main.layout6 .pos.a3 .hotPie {
  left: -50px;
}
.main.layout6 .pos.a4 {
  top: 302px;
  left: 200px;
  background-image: url(../images/layout6_i3.png);
}
.main.layout6 .pos.a4 .hotPie {
  top: -80px;
}
.main.layout6 .pos.a5 {
  left: 400px;
  top: 306px;
  background-image: url(../images/layout6_i4.png);
}
.main.layout6 .pos.a5 .hotPie {
  top: -80px;
  left: -50px;
}
.main.layout7 {
  height: 440px;
}
.main.layout7 .cont {
  position: relative;
  margin-top: 30px;
}
.main.layout7 .newlist {
  overflow: hidden;
}
.main.layout7 .newlist li {
  float: left;
  width: 30%;
  margin: -1px 1% 0;
  padding-top: 35px;
  height: 117px;
  border-top: 1px solid #d0d0d0;
}
.main.layout7 .newlist .a {
  display: block;
  overflow: hidden;
  position: relative;
}
.main.layout7 .newlist .a:hover {
  background: #d8d8d8;
}
.main.layout7 .newlist .a:hover .time {
  background: #b21c1c;
  color: #fff;
}
.main.layout7 .newlist .a:hover .time b {
  color: #fff;
}
.main.layout7 .newlist .a:hover .tit {
  color: #0e0e0e;
}
.main.layout7 .newlist .tit {
  font-size: 14px;
  color: #6f6f6f;
  padding: 12px 6px 12px 106px;
  display: inline-block;
}
.main.layout7 .newlist .time {
  display: inline-block;
  float: left;
  border: 1px solid #d0d0d0;
  width: 86px;
  height: 60px;
  text-align: center;
  font-size: 16px;
  color: #656565;
  font-weight: bold;
  padding-top: 10px;
  position: absolute;
  left: 0;
  top: 0;
}
.main.layout7 .newlist .time b {
  font-size: 24px;
  color: #d0d0d0;
  display: block;
  width: 100%;
}
.main.layout7 .newlist .mr {
  display: block;
  text-align: right;
}
.main.layout8 {
  height: 800px;
}
.main.layout8 .cont {
  text-align: center;
  margin: 50px 0;
  height: 520px;
  padding-top: 160px;
  background: url(../images/layout8bg.jpg) no-repeat center top;
}
.footer {
  font-size: 12px;
  color: #626262;
  text-align: center;
  margin-top: 37px;
  height: 90px;
}
.footer .gotop {
  width: 156px;
  height: 37px;
  padding-top: 15px;
  line-height: 22px;
  display: block;
  background: url(../images/gotop.png) no-repeat;
  margin: 0 auto;
  color: #fff;
}
.close {
  width: 40px;
  height: 40px;
  background: #7b0000 url(../images/close.png) no-repeat;
  display: block;
  position: absolute;
  right: -40px;
  bottom: 0;
  z-index: 3;
  -webkit-transition: all 0.3s ease-in-out !important;
  -moz-transition: all 0.3s ease-in-out !important;
  -ms-transition: all 0.3s ease-in-out !important;
  transition: all 0.3s ease-in-out !important;
}
.close:hover {
  background-color: #a24c4c;
  transform: rotate(90deg);
}
.model {
  position: absolute;
  width: 100%;
  height: 475px;
  left: 0;
  top: 76px;
  z-index: 9;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border: 1px solid #e0e0e0;
  z-index: 999;
}
.model .content {
  position: absolute;
  height: 92%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 98%;
  text-align: right;
  overflow: hidden;
  overflow-y: auto;
  margin: auto;
  font-size: 16px;
  color: #000;
}
@media only screen and (max-width: 768px) {
  .close {
    top: 0;
    bottom: auto;
    right: 0;
  }
  .model {
    position: fixed;
    width: 96%;
    left: 2%;
    right: 2%;
  }
  .model .content {
    width: 90%;
  }
  .model .content img {
    max-width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }
  .title {
    font-size: 15px;
    height: 33px;
    line-height: 33px;
    background-position: center;
    background-size: 50%;
    margin: .5rem auto;
  }
  .w {
    width: 100%;
  }
  .main {
    width: 100%;
    overflow: hidden;
  }
  .main.layout1 {
    padding-top: 2rem;
    height: 660px;
  }
  .main.layout1 .cont {
    height: 600px;
  }
  .main.layout1 .cont .li {
    position: relative;
  }
  .main.layout1 .cont .li.al,
  .main.layout1 .cont .li.ar {
    padding: 0;
    text-align: left;
    text-align: center;
  }
  .main.layout1 .cont .li.al .at,
  .main.layout1 .cont .li.ar .at {
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
  }
  .main.layout1 .cont .li.al .atimg,
  .main.layout1 .cont .li.ar .atimg {
    width: 220px;
    margin: 0 auto;
    height: 310px;
    overflow: hidden;
  }
  .main.layout1 .cont .li.al .tit,
  .main.layout1 .cont .li.ar .tit {
    width: 220px;
    margin: 10px auto;
    padding: 0;
    text-align: left;
    font-size: 16px;
  }
  .main.layout1 .cont .li.al .tit span,
  .main.layout1 .cont .li.ar .tit span {
    font-size: 20px;
  }
  .main.layout1 .cont .li.al .inc,
  .main.layout1 .cont .li.ar .inc {
    width: 220px;
    margin: 5px auto;
    padding: 0;
    font-size: 10px;
    text-align: left;
  }
  .main.layout2 {
    height: 600px;
  }
  .main.layout2 .cont {
    height: 560px;
  }
  .main.layout2 .img_ {
    height: 180px;
  }
  .main.layout2 .inc {
    padding: 0;
    width: 320px;
    margin: 1rem auto;
    text-align: left;
    max-height: 320px;
    overflow: hidden;
    overflow-y: auto;
    color: #333;
  }
  .main.layout2 .m-slide-certify {
    height: 180px;
  }
  .main.layout2 .m-slide-certify .swiper-container {
    width: 90%;
    margin: 0 auto;
  }
  .main.layout2 .m-slide-certify .swiper-slide {
    width: 150px;
    height: 160px;
  }
  .main.layout2 .m-slide-certify .swiper-button-prev,
  .main.layout2 .m-slide-certify .swiper-button-next {
    display: none;
  }
  .main.layout2 .openModel2 .preview .swiper-container {
    margin-left: 0;
  }
  .main.layout2 .openModel2 .close {
    margin: 0;
    left: auto;
    right: 0;
    top: 0;
  }
  .main.layout2 .openModel2 .view .swiper-container .swiper-slide {
    height: 450px;
  }
  .main.layout2 .openModel2 .view .swiper-container .swiper-slide .img {
    height: 450px;
  }
  .main.layout3 {
    height: auto;
  }
  .main.layout3 .photos {
    height: auto;
  }
  .main.layout3 .photos .jsimg {
    width: 320px;
    height: 280px;
    margin: 0 auto;
    float: none;
  }
  .main.layout3 .photos .jsimg ul li {
    height: 280px;
  }
  .main.layout3 .photos .jsimg_r {
    width: 320px;
    margin: 10px auto 0;
    position: relative;
    text-align: center;
    font-size: 0;
  }
  .main.layout3 .photos .jsimg_r a {
    width: 30%;
    height: 60px;
    margin: 4px 2px 0 2px;
  }
  .main.layout3 .cont {
    padding: 1rem 0;
    height: auto;
  }
  .main.layout4 {
    height: auto;
  }
  .main.layout4 .cont {
    margin: 1rem auto;
    width: 330px;
    height: 456px;
  }
  .main.layout4 .cont .aa {
    font-size: 15px;
  }
  .main.layout4 .cont .a1 {
    width: 100%;
    height: 130px;
    padding-top: 90px;
    line-height: 22px;
  }
  .main.layout4 .cont .a2 {
    height: 160px;
    width: 49%;
    left: 0;
    top: 230px;
  }
  .main.layout4 .cont .a3 {
    height: 160px;
    width: 49%;
    right: 0;
    top: 230px;
  }
  .main.layout4 .cont .a4 {
    width: 100%;
    height: 58px;
    line-height: 58px;
    left: 0;
    bottom: 0;
  }
  .main.layout5 {
    height: auto;
  }
  .main.layout5 .w {
    width: 100%;
  }
  .main.layout5 .cont {
    height: 500px;
    margin-top: 1rem;
  }
  .main.layout5 .cont ul {
    margin-left: 0;
  }
  .main.layout5 .cont li {
    width: 85px;
    height: 85px;
  }
  .main.layout5 .cont li .bs {
    display: none;
  }
  .main.layout5 .cont li a {
    background-size: 82px 38px;
  }
  .main.layout5 .cont li.a1 {
    top: 20px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
  .main.layout5 .cont li.a2 {
    top: 81px;
    margin-left: -61px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
  .main.layout5 .cont li.a3 {
    top: 81px;
    margin-left: 61px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
  .main.layout5 .cont li.a4 {
    top: 142px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
  .main.layout5 .cont li.a5 {
    top: 203px;
    margin-left: -61px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
  .main.layout5 .cont li.a6 {
    top: 203px;
    margin-left: 61px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
  .main.layout5 .cont li.a7 {
    top: 264px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
  .main.layout5 .cont li.a8 {
    top: 325px;
    margin-left: -61px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
  .main.layout5 .cont li.a9 {
    top: 325px;
    margin-left: 61px;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
  }
  .main.layout6 {
    height: auto;
  }
  .main.layout6 .cont {
    width: 100%;
    background-size: 120%;
    background-position: center bottom;
    height: 468px;
    margin: 1rem auto;
  }
  .main.layout6 .cont > .hotPie {
    left: 50% !important;
    top: 10px;
    transform: translateX(-50%) !important;
  }
  .main.layout6 .pos {
    width: 68.5px;
    height: 60.5px;
    background-size: 80%;
    left: 49px;
    top: 229px;
  }
  .main.layout6 .pos .hotPie {
    display: none !important;
  }
  .main.layout6 .pos.a2 {
    left: 122px;
    top: 239px;
  }
  .main.layout6 .pos.a3 {
    left: 259px;
    top: 268px;
  }
  .main.layout6 .pos.a4 {
    left: 54px;
    top: 356px;
  }
  .main.layout6 .pos.a5 {
    left: 146px;
    top: 357px;
  }
  .main.layout7 {
    height: auto;
  }
  .main.layout7 .cont {
    height: auto;
    margin-top: 1rem;
  }
  .main.layout7 .newlist {
    width: 330px;
    margin: 0 auto;
  }
  .main.layout7 .newlist .tit {
    padding-top: 0;
    padding-bottom: 0;
  }
  .main.layout7 .newlist li {
    width: 100%;
    margin: 0;
    margin-top: -1px;
    padding: 1rem 0;
    float: none;
    height: auto;
  }
  .main.layout8 {
    height: auto;
  }
  .main.layout8 .cont {
    margin: 1rem 0 0;
    height: 500px;
    padding-top: 0;
    position: relative;
  }
  .main.layout8 #player {
    width: 80%;
    height: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
  }
  .header {
    overflow: hidden;
    height: 640px;
    background: #7b0000 url(../images/headerbgh.jpg) no-repeat no-repeat;
    background-size: cover;
    margin-bottom: 0;
  }
  .header .lg {
    width: 70px;
    height: 45px;
    background-size: cover;
    left: 20px;
    top: 20px;
  }
  .header .img {
    display: none;
  }
  .header .menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    bottom: 0;
  }
  .header .menu.active {
    z-index: 9999;
  }
  .header .menu.active ul {
    transform: translateX(0);
  }
  .header .menu .btns {
    content: '';
    display: block;
    width: 40px;
    height: 45px;
    position: absolute;
    top: 20px;
    right: 20px;
    background: url(../images/snav.png) no-repeat center;
    background-size: 30px 28px;
    z-index: 10;
  }
  .header .menu ul {
    width: 100%;
    display: block;
    background: #64010b;
    position: fixed;
    z-index: 9;
    height: 100%;
    padding: 60px 0;
    transform: translateX(100%);
    -webkit-transition: all 0.3s ease-in-out !important;
    -moz-transition: all 0.3s ease-in-out !important;
    -ms-transition: all 0.3s ease-in-out !important;
    transition: all 0.3s ease-in-out !important;
  }
  .header .menu ul li {
    float: none;
    border-left: 0;
    font-size: 18px;
    font-weight: 300px;
    padding: 6px 30px;
    display: block;
  }
  .header .menu ul li a {
    color: #fbd7a3;
  }
  .footer {
    display: none;
  }
}
/* swiper 层叠轮播，没用到可以不拷贝 */
.m-slide-certify {
  overflow: hidden;
  position: relative;
  margin: 30px auto;
  width: 100%;
  height: 340px;
}
.m-slide-certify .swiper-container {
  width: 920px;
}
.m-slide-certify .swiper-slide {
  width: auto;
  height: 180px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 5px;
  border-bottom: 1px solid #555;
  -webkit-box-reflect: below 1px -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.5) 0px, rgba(0, 0, 0, 0) 20px);
  float: left;
}
.m-slide-certify .swiper-container {
  padding-bottom: 40px;
}
.m-slide-certify .swiper-slide {
  padding: 2px;
  width: 260px;
  height: 300px;
  background: #fff;
  border: 2px solid #d8d8d8;
  position: relative;
  overflow: hidden;
}
.m-slide-certify .swiper-slide .txt {
  position: absolute;
  bottom: 0;
  padding: 5px 5%;
  width: 90%;
  left: 0;
  color: #fff;
  background: rgba(64, 84, 178, 0.8);
  line-height: 14px;
  display: none;
}
.m-slide-certify .swiper-slide-active .txt {
  display: block;
}
.m-slide-certify .swiper-slide img {
  display: block;
  float: left;
  width: 100%;
  height: 100%;
  width: 280px\9;
  height: 350px\9;
}
.m-slide-certify .swiper-pagination-bullets .swiper-pagination-bullet {
  opacity: 1;
  margin: 0 5px;
  width: 5px;
  height: 5px;
  border: 2px solid #fff;
  background-color: #d5d5d5;
}
.m-slide-certify .swiper-pagination-bullets .swiper-pagination-bullet-active {
  border-color: #00aadc;
  background-color: #fff;
}
.m-slide-certify .swiper-button-prev,
.m-slide-certify .swiper-button-next {
  top: 50%;
  margin-top: -20px;
  width: 20px;
  height: 40px;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
}
.m-slide-certify .swiper-button-prev {
  left: 75px;
  background-image: url(http://pic.celong.cn/15235318388.png);
  background-position: left center;
}
.m-slide-certify .swiper-button-next {
  right: 75px;
  background-image: url(http://pic.celong.cn/152353183810.png);
  background-position: right center;
}
